/* Importa la fuente 'Montserrat' desde Google Fonts con distintos pesos y estilos */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');


/* General */
* {
    margin: 0; /* Establece el margen exterior en 0 */
    padding: 0; /* Establece el relleno interior en 0 */
    box-sizing: border-box; /* Hace que el tamaño total de un elemento sea su ancho y alto incluyendo el relleno y el borde, pero no el margen */
    list-style: none; /* Elimina el marcador de lista */
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    min-height: 100vh;
    background-color: rgba(3,37,57,1);
}


.body > *{
    box-shadow: 10px 6px 37px -13px rgba(51,51,51,0.74);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
}

.header {
    font-weight: 500; /* Grosor del texto */
    font-size: 1.25rem; /* Tamaño del texto */
    color: #edf0f1; /* Color del texto */
    
    li, a, button {
        font-weight: 500; /* Grosor del texto */
        font-size: 1.25rem; /* Tamaño del texto */
        color: #edf0f1; /* Color del texto */
        text-decoration: none; /* Decoración del texto */
    }

    button {
        padding: 9px 25px; /* Establece un relleno interno de 9px arriba y abajo y 25px a los lados */
        background-color: rgba(250,153,28,1); /* Establece un color de fondo con transparencia */
        border: none; /* Elimina el borde */
        border-radius: 50px; /* Establece un radio de borde para que el botón sea redondeado */
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
        transition: all 0.3s ease 0s; /* Establece una transición suave para todas las propiedades que cambien durante 0.3 segundos */
    }

    button:hover {
        background-color: rgb(228,140,25,1); /* Cambia el color de fondo con transparencia al pasar el mouse */
    }
}

.header, .news, .news-sport,  #contact-send {
    button {
        color: #edf0f1;
        font-size: 1rem;
        font-weight: 500;
        padding: 9px 25px; /* Establece un relleno interno de 9px arriba y abajo y 25px a los lados */
        background-color: rgba(250,153,28,1); /* Establece un color de fondo con transparencia */
        border: none; /* Elimina el borde */
        border-radius: 50px; /* Establece un radio de borde para que el botón sea redondeado */
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
        transition: all 0.3s ease 0s; /* Establece una transición suave para todas las propiedades que cambien durante 0.3 segundos */
    }

    button:hover {
        background-color: rgba(228,140,25,1); /* Cambia el color de fondo con transparencia al pasar el mouse */
    }

}

.logo {
    cursor: pointer; /* Establece el cursor como un puntero al pasar sobre el logotipo */
    background-color: #FFF;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;

    img {
        height: 100px; /* Establece la altura de la imagen del logotipo en 150px */
        
        
    }
}

.navbar li {
    display: inline-block; /* Muestra los elementos en línea */
    padding: 0px 20px; /* Establece un relleno de 20px a los lados (espaciado interno) */

    a {
        transition: all 0.3s ease 0s; /* Establece una transición suave para todas las propiedades que cambien durante 0.3 segundos */
    }

    a:hover {
        color: rgba(250,153,28,1); /* Cambia el color del texto al pasar el mouse */
    }
}

.footer {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
.footer-links {
    padding: 15px; /* Establece un relleno de 0 arriba y abajo y 15px a los lados */

    h4 {
        font-size: 1.25rem; /* Establece el tamaño de fuente en 20px */
        color: #edf0f1;; /* Establece el color del texto */
        margin-bottom: 25px; /* Establece un margen inferior de 25px */
        font-weight: 500; /* Establece el grosor de la fuente en 500 */
        border-bottom: 2px solid rgba(250,153,28,1); /* Establece un borde inferior de 2px sólido con un color específico */
        padding-bottom: 10px; /* Establece un relleno inferior de 10px */
        display: inline-block; /* Muestra el título en línea */
    }

    ul li a {
        font-size: 18px; /* Establece el tamaño de fuente en 18px */
        text-decoration: none; /* Elimina la decoración del texto */
        color: #cccfcf; /* Establece el color del texto */
        display: block; /* Muestra los elementos como bloques */
        margin-bottom: 15px; /* Establece un margen inferior de 15px */
        transition: all 0.3s ease; /* Establece una transición suave para todas las propiedades que cambien durante 0.3 segundos */
    }

    ul li a:hover {
        color: rgba(250,153,28,1); /* Cambia el color del texto al pasar el mouse */
        padding-left: 6px; /* Añade un relleno izquierdo de 6px al pasar el mouse */
    }
}


/* Responsive */
.body {
    display: grid;
    gap: 20px;
    grid-template: 
    "header" auto
    "main" auto
    "footer" 300px
    ;

    .header {
        grid-area: header;
        background-color: rgba(28,118,143,0.74);
    }

    .main {
        grid-area: main;
        background-color: rgba(251,243,242,1);
    }

    .footer {
        grid-area: footer;
        background-color: rgba(28,118,143,0.74);
    }

    #main-home, #main-inter {
        min-height: 2400px;
    }

    @media(min-width: 768px) {
        grid-template: 
        "header" auto
        "main" auto
        "footer" 300px;

        #main-home, #main-inter {
            min-height: 1600px;
        }
    }

    @media(min-width: 992px) {
        grid-template: 
        "header" auto
        "main" auto
        "footer" 300px;

        #main-home, #main-inter {
            min-height: 800px;
        }
    }
}

.header {
    display: grid;
    place-items: center;
    grid-template: 
    "logo" auto
    "navbar" auto
    "contact" auto;
    
    .logo {
        grid-area: logo;
    }

    .navbar {
        grid-area: navbar;
    }

    .contact {
        grid-area: contact;
    }
    
    @media(min-width: 992px) {
        grid-template: 
        "logo navbar contact" auto/
        auto 600px 200px;

        .logo {
            margin-right: auto;
        }
    }
}

.navbar ul{
    display: grid;
    place-items: center;
    grid-template: 
    "home" auto
    "sport" auto
    "inter" auto
    "source" auto;

    .home {
        grid-area: home;
    }

    .sport {
        grid-area: sport;
    }

    .inter {
        grid-area: inter;
    }

    .source {
        grid-area: source;
    }

    @media(min-width: 992px) {
        grid-template: 
        "home sport inter source" auto;
    }
}

/* END General */








/* home, sport, International */
#main-home, #main-inter {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;

    @media(min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media(min-width: 992px) {
        grid-template-columns: repeat(3, 1fr) ;
    }
}

.news {
    width: 500px;
    height: 57%;
    margin: auto;
    padding: 30px;
    background: #fff; /* Establece un fondo blanco para la noticia */
    border-radius: 3%;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid rgba(0,0,0,0.440);
    border-left: 2px rgba(0,0,0,0.545) outset;
    box-shadow:-40px 50px 30px rgba(0,0,0,0.280);
    overflow: hidden;
    transition: 0.4s ease-in-out;

    img {
        width: 400px;
    }

    
}

.news:hover {
    height: 98%;
}


.news {
    display: grid;
    place-items: center;
    gap: 20px;
    grid-template: 
    "heading" 150px
    "image" 230px
    "body" auto
    "more" auto
    ;

    .news-heading {
        grid-area: heading;
        text-align: left;
    }

    .news-image {
        grid-area: image;
    }

    .news-body {
        grid-area: body;
        text-align: justify;
    }

    .news-more {
        grid-area: more;
    }
}

/* END home, sport, international */



/* sport */
.news-sport {
    width: 570px;
    height: 60%;
    margin: auto;
    padding: 20px;
    background: #fff; /* Establece un fondo blanco para la noticia */
    border-radius: 3%;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid rgba(0,0,0,0.440);
    border-left: 2px rgba(0,0,0,0.545) outset;
    box-shadow:-40px 50px 30px rgba(0,0,0,0.280);
    overflow: hidden;
    transition: 0.4s ease-in-out;

    iframe {
        width: 100%;
    }
    
}

.news-sport:hover {
    height: 98%;
}

.news-sport {
    display: grid;
    place-items: center;
    gap: 20px;
    grid-template: 
    "heading" 150px
    "image" 210px
    "body" auto
    "more" auto
    ;

    .news-heading {
        grid-area: heading;
        text-align: left;
    }

    .news-image {
        grid-area: image;
    }

    .news-body {
        grid-area: body;
        text-align: justify;
    }

    .news-more {
        grid-area: more;
    }
}

/* END sport */


/* contact */
#main-contact {
    display: flex
}

.description, .contacts {
    margin: 25px 0;
    padding: 20px;
    background: #fff; /* Establece un fondo blanco para la noticia */
    border-radius: 3%;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid rgba(0,0,0,0.440);
    border-left: 2px rgba(0,0,0,0.545) outset;
    box-shadow:-40px 50px 30px rgba(0,0,0,0.280);
}

#contactanos {
    h3  {
        text-align: left;
        margin-left: 10%;
    }

    input {
        padding-left: 10px;
        background-color: rgba(3,37,57,1);
        color: #FFF;
        font-size: 1.25rem;
        width: 95%;
        height: 50px;
    }
}

::placeholder {
    color: #FFF;
    font-size: 1.25rem;
}

.pregunta {
    margin: 20px;
    height: 30px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    
    h3 {
        text-align: left;
    }

    p {
        text-align: justify;
    }
}

.pregunta:hover {
    height: 100%;

    h3 {
        color: rgba(250,153,28,1); /* Cambia el color del texto al pasar el mouse */
    }
}

.contacts {
    display: block;
    margin-bottom: 10px;

    img {
        width: 300px;
    }
}

.contact-info {
    display: flex;
    align-items: center;
    
    .nombre {
        font-weight: bold;
    }

    h3, p {
        margin: 5px;
    }

    a {
        color: #000;
        text-decoration: none;
        transition: 0.4s ease-in-out;
    }

    a:hover {
        color: rgba(250,153,28,1); /* Cambia el color del texto al pasar el mouse */
    }

}



/* Responsive */
#main-contact {
    display: grid;
    gap: 50px;
    grid-template: 
    "about" auto
    "contact" auto;

    #about-us{
        grid-area: about;
    }

    #contact-us {
        grid-area: contact;
    }

    @media(min-width: 992px) {
        grid-template: 
        "about contact" auto/
        auto auto;
    }
}

#contactanos {
    gap: 15px;
    display: grid;
    grid-template: 
    "heading" auto
    "fname" auto
    "lname" auto
    "email" auto
    "number" auto
    "subject" auto
    "body" auto
    "send" auto
    ;

    .contact-heading {
        grid-area: heading;
    }

    #contact-fname {
        grid-area: fname;
    }

    #contact-lname {
        grid-area: lname;
    }
    #contact-email {
        grid-area: email;
    }
    #contact-number {
        grid-area: number;
    }
    #contact-subject {
        grid-area: subject;
    }
    #contact-body {
        grid-area: body;
    }
    #contact-send {
        grid-area: send;
    }

    @media(min-width: 768px) {
        grid-template: 
        "heading heading" auto
        "fname lname" auto
        "email number" auto
        "subject subject" auto
        "body body" auto
        "send send" auto;
    }
}

/* END contact */




.recursos{
    background: #FFF;
    text-align: center;
}

.recursos_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.recursos_div{
    color: #fff;
    text-align: left;
    background-color:  rgba(3,37,57,1);
    margin-bottom: 3%;
    padding: 2%;
    width: 40%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);


    a {
        text-decoration: none;
        transition: 0.4s ease-in-out;
    }

    a:hover {
        color: rgba(250,153,28,1); /* Cambia el color del texto al pasar el mouse */
    }

}

.recursos_links{
    color: #fff;
}

.recursos_title{
    text-align: center;
    padding: 2%;
    margin: 2%;
}