/* Importaciones */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');


/* General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {

    width: 100;
    height: 100vh;
    background-image: linear-gradient(#24252A 10%, #2d3b86 75%, #24252A); /* Color de fondo */
    font-family: "Montserrat", sans-serif; /* Familia tipográfica */
    text-transform: capitalize;
}

/* Estilos para el contenedor principal */
.contenedor-principal {
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 30px 10%;
    position: relative;
    z-index: 1;
}

/* Estilos para el header*/

/* Estilos para elementos de lista, enlaces y botones dentro del header*/
header li, header a, header button {
    font-weight: 500; /* Grosor del texto */
    font-size: 16px; /* Tamaño del texto */
    color: #edf0f1; /* Color del texto */
    text-decoration: none; /* Decoración del texto */
}

header {
    border-radius: 0 0 3% 3%;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end; /* Empuja todos los contenedores a la derecha. (toca cambiar.logo para que este a la izquierda "margin-right: auto;")*/
    align-items: center;
    padding: 5px 10%; /* Espaciado interno */
}

/* Estilos para el logotipo */
.logo {
    cursor: pointer; /* Cambio del cursor al pasar por encima */
    margin-right: auto; /* agrega un margen a la derecha que hace que se coloque a la izquierda. */

}


.logo img {
 height: 150px;
}


/* Estilos para los enlaces de navegación */
.nav__links {
    list-style: none; /* Eliminación del marcador de lista */
}

.nav__links li {
    display: inline-block; /* Mostrar los elementos en línea */
    padding: 0px 20px; /* Espaciado interno */
}

.nav__links li a {
    transition: all 0.3s ease 0s; /* Transición de propiedades al interactuar */
}

.nav__links li a:hover {
    color: #0088A9; /* Color del texto al pasar el mouse */
}

/* Estilos para el botón */
header button {
    margin-left: 20px;
    padding: 9px 25px; /* Espaciado interno */
    background-color: rgba(0,136,169,1); /* Color de fondo */
    border: none; /* Sin borde */
    border-radius: 50px; /* Borde redondeado */
    cursor: pointer; /* Cambio del cursor al pasar por encima */
    transition: all 0.3s ease 0s; /* Transición de propiedades al interactuar */
}

header button:hover {
    background-color: rgba(0,136,169,0.8); /* Color de fondo al pasar el mouse */
}

/*Fin de los estilos del encabezado*/

/* Footer */
.footer__container{
    max-width: 1200px; /* Establece el ancho máximo del contenedor en 1200px */
    margin: 0 15px; /* Establece un margen de 0 arriba y abajo y 15px a los lados */
}

.footer {
    width: 100vw; /* Establece el ancho del pie de página al ancho de la ventana */
    padding: 80px 0; /* Establece un relleno interno de 80px arriba y abajo y 0 a los lados */
}

.footer__row {
    display: flex; /* Establece el contenedor como un flexbox */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en una fila cuando no hay suficiente espacio */
}

.footer__links {
    width: 25%; /* Establece el ancho del contenedor de enlaces al 25% del contenedor principal */
    padding: 0 15px; /* Establece un relleno de 0 arriba y abajo y 15px a los lados */
}

.footer__links h4 {
    font-size: 20px; /* Establece el tamaño de fuente en 20px */
    color: #fff; /* Establece el color del texto */
    margin-bottom: 25px; /* Establece un margen inferior de 25px */
    font-weight: 500; /* Establece el grosor de la fuente en 500 */
    border-bottom: 2px solid #00C3FF; /* Establece un borde inferior de 2px sólido con un color específico */
    padding-bottom: 10px; /* Establece un relleno inferior de 10px */
    display: inline-block; /* Muestra el título en línea */
}

.footer__links ul li a {
    font-size: 18px; /* Establece el tamaño de fuente en 18px */
    text-decoration: none; /* Elimina la decoración del texto */
    color: #BBBBBB; /* Establece el color del texto */
    display: block; /* Muestra los elementos como bloques */
    margin-bottom: 15px; /* Establece un margen inferior de 15px */
    transition: all 0.3s ease; /* Establece una transición suave para todas las propiedades que cambien durante 0.3 segundos */
}

.footer__links ul li a:hover {
    color: #fff; /* Cambia el color del texto al pasar el mouse */
    padding-left: 6px; /* Añade un relleno izquierdo de 6px al pasar el mouse */
}

/* Estilos para pantallas de hasta 991px de ancho */
@media(max-width:991px) {
    .footer__row {
        text-align: center; /* Centra el contenido */
    }

    .footer__links {
        width: 100%; /* Establece el ancho al 100% */
        margin-bottom: 30px; /* Establece un margen inferior de 30px */
    }
}

/* Footer */




/* Fin General */


/* Home */

.noticias {
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.noticia {
    width: 530px;
    height: 410px;
    margin: auto;
    background: #fff;
    text-align: center;
    border-radius: 3%;
    overflow: hidden;
    transition: 0.4s ease-in-out;
}

.noticia:hover {
    height: 580px;
}

.noticia img {
    width: 500px;
    margin: 15px;
    border-radius: 3%;
}

.noticia p {
    margin: 15px;
    text-align: justify;
}

.noticia button {
    color: #fff;
    margin-left: 20px;
    padding: 9px 25px; /* Espaciado interno */
    background-color: rgba(0,136,169,1); /* Color de fondo */
    border: none; /* Sin borde */
    border-radius: 50px; /* Borde redondeado */
    cursor: pointer; /* Cambio del cursor al pasar por encima */
    transition: all 0.3s ease 0s; /* Transición de propiedades al interactuar */
}

.noticia button:hover {
    background-color: rgba(0,136,169,0.8); /* Color de fondo al pasar el mouse */
}


/* Fin Home */












/* Deportivas */


/* Fin Deportivas */













/* Internacionales */


/* Fin Internacionales */











/* Recursos */


/* Fin Recursos*/













/* Contacto */

.contact_about_us{
    display: flex;
}

.about_us{
    flex: 54.5%;
    margin-right: 2.5%;
    margin-left: 6%;
}

.description{
    background-color: #fff;
    margin-bottom: 2%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.contact_us{
    flex: 24.4%;
    margin-left: 2.5%;
    margin-right: 6%;
}

.contacts{
    background-color: #fff;
    margin-bottom: 2%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

.contact_about_us{
    display: flex;
}

.about_us{
    flex: 54.5%;
    margin-right: 2.5%;
    margin-left: 6%;
}

.description{
    background-color: #fff;
    margin-bottom: 2%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.contact_us{
    flex: 24.4%;
    margin-left: 2.5%;
    margin-right: 6%;
}

.contacts{
    background-color: #fff;
    margin-bottom: 2%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

.forms_box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulario{
    background-color: #2d3b86;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    padding: 2%;
    width: 90%;
    height: 40%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Fin Contacto*/




















/*DEPORTISTAS*/

/* Estilos para el contenedor principal */
.contenedor-principal {
    background-color: #fff;
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    z-index: 1;
}


/* Estilos para el primer div que ocupa la mitad de la hoja */
.primer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px; /* Define la altura del div */
    position: relative; /* Asegura que los elementos absolutos se posicionen relativo a este */
}

/* Estilos para el texto centrado */
.texto-centrado {
    text-align: center;
    position: absolute; /* Permite colocar este div encima del otro */
    z-index: 2; /* Define la posición del div de texto encima de la imagen */
    top: 5%; /* Posiciona el div de texto en la mitad vertical del contenedor */
    transform: translateY(-50%); /* Centra verticalmente el div de texto */
    width: 100%; /* Ajusta el ancho del div de texto al 100% del contenedor */
}

/* Estilos para la imagen centrada */
.imagen-centrada {
    text-align: center;
    position: relative; /* Asegura que el div de imagen esté posicionado relativo a su contenedor */
    z-index: 1; /* Define la posición de la imagen debajo del div de texto */
    top: 5%; /* Mueve la imagen hacia arriba para que se vea más grande */
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
}

/* Estilos para las imágenes dentro del primer div */
.primer-div img {
    width: 100%;
    height: 80%;
    margin-top: 0%; /* Ajusta la altura de la imagen manteniendo su relación de aspecto */
}



/* Estilo para el segundo div que contiene las tres imágenes */
.segundo-div {
    width: 100%;
    margin: 0 auto; /* Centra el div horizontalmente */
    display: grid;
    grid-template-columns: repeat(3, 2fr); /* Crea tres columnas iguales */
    gap: 50px; /* Espacio entre las imágenes */
}

/* Estilo para cada video */
.segundo-div video {
    width: 100%; /* Ajusta el ancho del video al 100% del contenedor */
    border: 2px solid white; /* Borde blanco de 2px */
    border-radius: 10px; /* Bordes ovalados con un radio de 10px */
    margin-bottom: 10px; /* Espacio inferior entre videos */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra alrededor del video */
}


#mi-video {
    width: 80%;
    margin: 0 auto;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
<<<<<<< HEAD

/*FIN DEPORTISTAS*/


/* Estilos para el apartado de contacto */
.contact_about_us{
    display: flex;
}

.about_us{
    flex: 54.5%;
    margin-right: 2.5%;
    margin-left: 6%;
}

.description{
    background-color: #fff;
    margin-bottom: 2%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.contact_us{
    flex: 24.4%;
    margin-left: 2.5%;
    margin-right: 6%;
}

.contacts{
    background-color: #fff;
    margin-bottom: 2%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

/*Fin de los estilos para el apartado de contactos*/
=======
>>>>>>> 20406fa8e15c2cdda4657c1f80652ef32838ce76
