/* Importaciones */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif; /* Familia tipográfica */
}

body {
    background-image: linear-gradient(#24252A 10%, #2d3b86 75%, #24252A); /* Color de fondo */
}

/* Estilos para el contenedor principal */
.contenedor-principal {
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 30px 10%;
    position: relative;
    z-index: 1;
}

/* Estilos para el header*/

/* Estilos para elementos de lista, enlaces y botones dentro del header*/
header li, header a, header button {
    font-weight: 500; /* Grosor del texto */
    font-size: 16px; /* Tamaño del texto */
    color: #edf0f1; /* Color del texto */
    text-decoration: none; /* Decoración del texto */
}

/* Estilos para el encabezado */
header {
    border-radius: 0 0 3% 3%;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end; /* Empuja todos los contenedores a la derecha. (toca cambiar.logo para que este a la izquierda "margin-right: auto;")*/
    align-items: center;
    padding: 5px 10%; /* Espaciado interno */
    /* background-color: #24252A;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2; */
}

/* Estilos para el logotipo */
.logo {
    cursor: pointer; /* Cambio del cursor al pasar por encima */
    margin-right: auto; /* agrega un margen a la derecha que hace que se coloque a la izquierda. */
}

/* Estilos para los enlaces de navegación */
.nav__links {
    list-style: none; /* Eliminación del marcador de lista */
}

.nav__links li {
    display: inline-block; /* Mostrar los elementos en línea */
    padding: 0px 20px; /* Espaciado interno */
}

.nav__links li a {
    transition: all 0.3s ease 0s; /* Transición de propiedades al interactuar */
}

.nav__links li a:hover {
    color: #0088A9; /* Color del texto al pasar el mouse */
}

/* Estilos para el botón */
header button {
    margin-left: 20px;
    padding: 9px 25px; /* Espaciado interno */
    background-color: rgba(0,136,169,1); /* Color de fondo */
    border: none; /* Sin borde */
    border-radius: 50px; /* Borde redondeado */
    cursor: pointer; /* Cambio del cursor al pasar por encima */
    transition: all 0.3s ease 0s; /* Transición de propiedades al interactuar */
}

header button:hover {
    background-color: rgba(0,136,169,0.8); /* Color de fondo al pasar el mouse */
}

/*Fin de los estilos del encabezado*/

/* Fin de los estilos generales*/





/* Estilos de Home.html */

.noticias {
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.noticia {
    width: 530px;
    height: 410px;
    background: #fff;
    text-align: center;
    border-radius: 3%;
    overflow: hidden;
    transition: 0.4s ease-in-out;
}

.noticia:hover {
    height: 550px;
}

.noticia img {
    width: 500px;
    margin: 15px;
    border-radius: 3%;
}

.noticia p {
    margin: 15px;
    text-align: justify;
}

/* Fin de los estilos home.html */


/* Estilo para el primer div que ocupa la mitad de la hoja */
.primer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto; /* Centra el div horizontalmente */
    height: 500px; /* Define la altura del div */
}


/* Estilo para las imágenes dentro del primer div */
.primer-div img {
    width: 80%;
    height: auto; /* Ajusta la altura de la imagen manteniendo su relación de aspecto */
}


/* Estilo para el segundo div que contiene las tres imágenes */
.segundo-div {
    width: 80%;
    margin: 0 auto; /* Centra el div horizontalmente */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea tres columnas iguales */
    gap: 10px; /* Espacio entre las imágenes */
}


/* Estilo para las imágenes dentro del segundo div */
.segundo-div img {
    width: 100%;
    height: auto; /* Ajusta la altura de la imagen manteniendo su relación de aspecto */
}


#mi-video {
    width: 80%;
    margin: 0 auto;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Estilos para el apartado de contacto */
.contact_about_us{
    display: flex;
}

.about_us{
    flex: 54.5%;
    margin-right: 2.5%;
    margin-left: 6%;
}

.description{
    background-color: #fff;
    margin-bottom: 2%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.contact_us{
    flex: 24.4%;
    margin-left: 2.5%;
    margin-right: 6%;
}

.contacts{
    background-color: #fff;
    margin-bottom: 2%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
}

/*Fin de los estilos para el apartado de contactos*/